doctype 5

html(ng-app='tampham')
	head
		meta(charset='UTF-8')
		title
			| Angular Modules

		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")

	body
		h1 TamPham
		main(ng-view)

		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.js')

		script(src='/scripts.js')
		script(src='/templates.js')
